@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background: hsla(242, 58%, 73%, 1);

    background: linear-gradient(135deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
    font-family: Roboto, sans-serif;
    color: rgb(67, 66, 71);
}
#root {
    width: 400px;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}
.header {
    margin-top: 3em;
}
main {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 10px;
}
.card-header {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.blob-container {
    position: absolute;
    display: block;
}
.blob {
    z-index: 0;
    opacity: 0.5;
    margin: 1em;
}
.course-name {
    font-weight: 700;
    z-index: 1;
    width: 320px;
    text-align: right;
}

.course-info {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0.7em;
}
.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
}
.course-info p {
    font-size: 0.8em;
    line-height: 1.6;
    font-weight: 300;
    text-align: left;
    width: 150px;
}
.course-info p span {
    font-weight: 700;
}
.avatar {
    border-radius: 50%;
    height: 100%;
}

.btn-container {
    margin-top: 2em;
}
.btn {
    padding: 1em 2em;
    margin: 0 1em;
    border: 0;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: cornflowerblue;
    color: #fff;
}
